@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f4f1eb;
  --foreground: #21202c;
  --cardBg: #fff;
  --point: #f95d42;
}

:root.dark {
  --background: #21202c;
  --foreground: #f4f1eb;
  --cardBg: #302e3c;
}

@theme inline {
  --color-point: var(--point);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--cardBg);
  --max-width-header: 1920px;
  --max-width-content: 1280px;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

/* utils */
.container {
  @apply max-w-content mx-auto py-10 lg:py-20 px-4 md:px-6 lg:px-10;
}

.fs-bungee {
  font-family:
    bungee,
    bungee Fallback;
}
